@media (max-width: 719px) {

:root {
    --main-color: #7ae582;
    --background-color: #003554;
    --first-font: "Archivo Black", sans-serif;
    --second-font: "Roboto", sans-serif;
    }

    header {
        background-color: var(--main-color);
        text-align: center;
        padding: 8px;
        font-family: var(--first-font);
    }

    body {
        background-color: #003554;
        font-family: var(--second-font);
    
    }

    .hero-img {
        width: 100%;
        margin-top: 10px;
    }

    .box {
        text-align: center;
        margin: 10px;
        background-color: #9fffcb;
        padding: 5px;
    }

    #icon-webp {
        display: none;
    }

    footer {
        background-color: var(--main-color);
        text-align: center;
        padding: 8px;    
        font-family: var(--second-font);

    }
}